<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Save Customer</title>
  <link rel="stylesheet" th:href="@{/css/style.css}"/>
  <link rel="stylesheet" th:href="@{/css/add-customer-style.css}"/>
</head>
<body>
<div id="wrapper">
  <div id="header">
    <h2>CRM - Customer Relationship Manager</h2>
  </div>
</div>
<div id="container">
  <h3>Save Customer</h3>
  <form action="#" th:action="@{/customer/saveCustomer}" th:object="${customer}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <table>
      <tr>
        <td><label>First Name:</label></td>
        <td><input type="text" th:field="*{firstName}"></td>
      </tr>
      <tr>
        <td><label>Last Name:</label></td>
        <td><input type="text" th:field="*{lastName}"></td>
      </tr>
      <tr>
        <td><label>E-mail:</label></td>
        <td><input type="text" th:field="*{email}"></td>
      </tr>
      <tr>
        <td><label></label></td>
        <td><input type="submit" value="Submit" class="save"></td>
      </tr>
    </table>
  </form>
  <div style="clear; both;"></div>
  <p>
    <a th:href="@{/customer/list}">Back to List</a>
  </p>
</div>
</body>
</html>